* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, li {
  list-style: none;
}

li {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: 'Muli';
  src: url("../webfonts/font/Muli-BoldItalic.eot");
  src: local("Muli Bold Italic"), local("Muli-BoldItalic"), url("../webfonts/font/Muli-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../webfonts/font/Muli-BoldItalic.woff2") format("woff2"), url("../webfonts/font/Muli-BoldItalic.woff") format("woff"), url("../webfonts/font/Muli-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url("../webfonts/font/Muli-Bold.eot");
  src: local("Muli Bold"), local("Muli-Bold"), url("../webfonts/font/Muli-Bold.eot?#iefix") format("embedded-opentype"), url("../webfonts/font/Muli-Bold.woff2") format("woff2"), url("../webfonts/font/Muli-Bold.woff") format("woff"), url("../webfonts/font/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url("../webfonts/font/Muli-Italic.eot");
  src: local("Muli Italic"), local("Muli-Italic"), url("../webfonts/font/Muli-Italic.eot?#iefix") format("embedded-opentype"), url("../webfonts/font/Muli-Italic.woff2") format("woff2"), url("../webfonts/font/Muli-Italic.woff") format("woff"), url("../webfonts/font/Muli-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Muli';
  src: url("../webfonts/font/Muli-Regular.eot");
  src: local("Muli Regular"), local("Muli-Regular"), url("../webfonts/font/Muli-Regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/font/Muli-Regular.woff2") format("woff2"), url("../webfonts/font/Muli-Regular.woff") format("woff"), url("../webfonts/font/Muli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Muli", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

h1, .title {
  font-size: 60px;
}

h2, .caption {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

body.close {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0a4ff1;
  z-index: 6;
}

.header .content {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1023px) {
  .header .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .header .content {
    height: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .burger-menu {
    display: inline-block;
    width: 30px;
    height: 25px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: relative;
    z-index: 7;
    border-radius: 10px;
    overflow: hidden;
  }
  .burger-menu::before, .burger-menu::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: #fff;
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    display: inline-block;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-block {
  position: relative;
  z-index: 6;
  margin-right: 20px;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media screen and (max-width: 768px) {
  .search-block {
    margin-top: 5px;
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .search-block {
    width: 100%;
    z-index: 7;
  }
}

.search-block .input-search {
  width: 100%;
  max-width: 336px;
  border-radius: 5px;
  padding: 8px 35px 8px 15px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 15px;
}

@media screen and (max-width: 768px) {
  .search-block .input-search {
    max-width: 100%;
  }
}

.search-block .input-search::-webkit-input-placeholder {
  color: #999;
}

.search-block .input-search:-ms-input-placeholder {
  color: #999;
}

.search-block .input-search::-ms-input-placeholder {
  color: #999;
}

.search-block .input-search::placeholder {
  color: #999;
}

.menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
  z-index: 8;
}

@media screen and (max-width: 600px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow: auto;
  }
}

@media screen and (max-width: 600px) {
  .menu .menu-wrapper {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 80%;
    min-height: 100%;
    background-color: #7485a0;
    padding: 100px 0 0;
    -webkit-box-shadow: 0 0 40px #0a4ff1;
            box-shadow: 0 0 40px #0a4ff1;
  }
}

@media screen and (max-width: 600px) {
  .menu.active {
    left: 0;
  }
}

.menu .close {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu .close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.menu .close::before, .menu .close::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 6px;
  background-color: #fff;
}

.menu .close::before {
  top: 0;
  border-radius: 10px 10px 0 0;
}

.menu .close::after {
  bottom: 0;
  border-radius: 0 0 10px 10px;
}

.menu .close .close-link {
  font-size: 20px;
  line-height: 34px;
  color: #fff;
}

.menu .close .close-link span {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}

.menu .list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .menu .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 15px;
  }
}

.menu .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .menu .list .item {
    margin: 0 0 20px;
    font-size: 20px;
    width: 100%;
  }
}

.menu .list .item::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 18px;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .menu .list .item::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu .list .item:last-child::after {
    display: none;
  }
}

.menu .list .item .link {
  color: #fff;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .menu .list .item .link {
    margin: 0;
  }
}

.menu .list .item .link span {
  display: inline-block;
}

.menu .icon {
  width: 40px;
  height: 40px;
}

.menu .user-icon {
  margin-right: 10px;
}

.menu .user-icon .user-svg {
  fill: #fff;
}

.social-menu {
  position: relative;
  z-index: 7;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.social-menu .icon {
  width: 30px;
  height: 30px;
  margin-right: 0;
}

.social-menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-menu .list .item {
  margin: 0 8px;
}

.social-menu .list .item .link.active .icon svg {
  fill: #fff;
}

.social-menu .list .item .link.active span {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #f00;
  text-align: center;
}

.social-menu .list .item .link.active span::after {
  content: '1';
  display: inline-block;
  color: #fff;
}

.icon-box {
  position: relative;
}

.main {
  background-color: #eee;
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 120px;
  }
}

.main .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

.menu-sidebar {
  width: 20%;
  min-width: 192px;
  padding: 0 10px;
}

.menu-sidebar .user-block {
  padding-left: 12px;
  margin-bottom: 20px;
}

.menu-sidebar .user-block .icon {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  vertical-align: -15px;
}

.menu-sidebar .user-block .icon svg {
  fill: #999;
}

.menu-sidebar .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.menu-sidebar .icon svg {
  fill: #4faaff;
}

.nav-group {
  padding-bottom: 24px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav-group .sub-title {
  padding-left: 12px;
  padding-bottom: 10px;
}

.nav-group .list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-group .list .link {
  position: relative;
  padding: 8px 12px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .nav-group .list .link {
    position: static;
  }
}

.nav-group .list .link::after {
  content: '...';
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 20px;
  display: none;
}

@media screen and (min-width: 769px) {
  .nav-group .list .link:hover {
    background-color: #fff;
  }
  .nav-group .list .link:hover::after {
    display: inline-block;
  }
  .nav-group .list .link:hover span {
    font-weight: 700;
  }
}

.see-more {
  position: relative;
  display: inline-block;
  padding-left: 46px;
  margin-bottom: 15px;
  color: #4faaff;
}

.see-more::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 23px;
  border-left: 7px solid #999;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.see-more.active::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hide-block {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.central-part {
  width: 48%;
  min-width: 500px;
  padding: 0 10px;
}

.create-block {
  border: 1px solid #dddddd;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.create-title {
  padding: 10px 15px;
  border-bottom: 1px solid #dddddd;
}

.create-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create-text {
  padding: 15px;
}

.create-text .create-content {
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.create-text .create-content span {
  color: #333;
}

.create-text .create-share {
  padding: 15px 0 0;
}

.create-text .create-share .create-attach {
  padding: 8px 15px;
  margin-right: 8px;
  background-color: #dedede;
  border-radius: 20px;
  border: 1px solid #dedede;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.create-text .create-share .create-attach:last-child {
  margin-right: 0;
}

.create-text .create-share .create-attach:hover {
  background-color: transparent;
}

.create-text .create-share .create-attach span {
  position: relative;
  font-size: 13px;
  color: #333;
}

.create-text .create-share .create-attach:last-child {
  border-radius: 50%;
}

.create-text .create-share .create-attach:last-child span::before {
  content: '...';
  position: absolute;
  top: -16px;
  left: -8px;
  font-size: 20px;
}

.create-text .create-share .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.create-text .create-share .icon svg {
  fill: #4faaff;
}

.icon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.icon .user-svg {
  fill: #999;
}

.block-ico-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post {
  border: 1px solid #dddddd;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.post-wrapper {
  padding: 15px;
}

.post-wrapper .block-ico-text {
  padding-bottom: 20px;
}

.post-wrapper .post-text {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  padding-bottom: 20px;
}

.post-wrapper .post-text:last-child {
  padding-bottom: 10px;
}

.post-wrapper .post-text a {
  color: #4faaff;
}

.post-wrapper .create-share {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post-wrapper .create-share .create-attach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 0;
}

.post-wrapper .create-share .create-attach:last-child {
  position: relative;
}

.post-wrapper .create-share .create-attach:last-child:hover .share-list {
  visibility: visible;
  opacity: 1;
}

.post-wrapper .create-share .create-attach:last-child .share-list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -185px;
  left: -20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 230px;
  -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.post-wrapper .create-share .create-attach:last-child .share-list .share-item a {
  position: relative;
  display: block;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.post-wrapper .create-share .create-attach:last-child .share-list .share-item a:hover {
  background-color: #eee;
}

.post-wrapper .create-share .create-attach:last-child .share-list::before {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 25px;
  width: 10px;
  height: 10px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.post-wrapper .create-share .create-attach:hover {
  cursor: pointer;
}

.post-wrapper .create-share .create-attach:hover .icon {
  opacity: 0.8;
}

.post-wrapper .create-share .create-attach .icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  fill: #333;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.post-wrapper .create-share .create-attach span {
  color: #333;
}

.post-photo {
  border-bottom: 1px solid #dddddd;
}

.post-photo .post-img {
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.post-photo .post-like-block {
  margin-bottom: 15px;
}

.post-photo .post-like-block .like-icon {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.post-photo .post-like-block .like-icon.active {
  fill: #4594df;
}

.post-photo .post-like-block .like-counter {
  font-size: 16px;
  vertical-align: top;
  color: #333;
}

.post-credentials .author-name {
  font-size: 18px;
  font-weight: 700;
  color: #4594df;
  padding-bottom: 5px;
}

.time-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-info .time-left {
  display: inline-block;
  font-size: 13px;
  color: #999;
  margin-right: 10px;
}

.time-info .time-left::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 10px;
  background-color: #999;
}

.time-info .icon {
  width: 15px;
  height: 15px;
  margin-right: 0;
}

.time-info .icon svg {
  fill: #999;
}

.info-sidebar {
  width: 32%;
  padding: 0 10px;
  background-color: #f00;
}
/*# sourceMappingURL=main.css.map */