@import 'base/include-media';

@import 'base/reset';
@import 'base/variables';
@import 'base/fonts';
@import 'base/typography';

body {
   &.close {
      overflow: hidden;
   }
}

.container {
   width: 100%;
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

svg {
   width: 100%;
   height: 100%;
}

.link {
   display: flex;
   align-items: center;
   color: $hard-grey;
}

.icon {
   display: inline-block;
   margin-right: 10px;
}

// header block
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;

   &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $blue;
      z-index: 6;
   }

   .content {
      position: relative;
      height: 60px;
      // z-index: 6;

      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      @media screen and (max-width: 1023px) {
         flex-wrap: wrap;
      }
      @media screen and (max-width: 768px) {
         height: 120px;
         justify-content: space-between;
      }
      @media screen and (max-width: 480px) {
         height: 100px;
      }
   }
}

.burger-menu {
   display: none;
   @media screen and (max-width: 600px) {
      display: inline-block;
      width: 30px;
      height: 25px;
      order: 3;
      position: relative;
      z-index: 7;
      border-radius: 10px;
      overflow: hidden;
      &::before,
      &::after {
         content: '';
         display: inline-block;
         position: absolute;
         width: 100%;
         height: 4px;
         left: 0;
         background-color: $white;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }

      span {
         position: absolute;
         top: 50%;
         left: 0;
         margin-top: -2px;
         width: 100%;
         height: 4px;
         background-color: $white;
         display: inline-block;
      }
   }
}

.list {
   display: flex;
}

.search-block {
   position: relative;
   z-index: 6;
   margin-right: 20px;
   border-radius: 5px;
   flex-grow: 1;
   order: 3;
   @media screen and (max-width: 768px) {
      margin-top: 5px;
      margin-right: 0;
   }
   @media screen and (max-width: 600px) {
      width: 100%;
      z-index: 7;
   }

   .input-search {
      width: 100%;
      max-width: 336px;
      border-radius: 5px;
      padding: 8px 35px 8px 15px;
      background-image: url('../images/search.svg');
      background-repeat: no-repeat;
      background-position: right 12px center;
      background-size: 15px;
      @media screen and (max-width: 768px) {
         max-width: 100%;
      }
      &::placeholder {
         color: $gray;
      }
   }
}

.menu {
   order: 2;
   position: relative;
   z-index: 8;
   @media screen and (max-width: 600px) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      // background-color: #7485a0;
      // padding: 100px 0 0;
      // box-shadow: 0 0 40px $blue;
      transition: all 0.3s ease-in;

      //for vertical scroll into the mobile menu
      overflow: auto;
   }
   .menu-wrapper {
      @media screen and (max-width: 600px) {
      position: absolute;
      z-index: 11;
      top: 0;
      left: 0;
      width: 80%;
      min-height: 100%;
      background-color: #7485a0;
      padding: 100px 0 0;
      box-shadow: 0 0 40px $blue;
   }
}

   &.active {
      @media screen and (max-width: 600px) {
         left: 0;
         // width: 80%;
         // height: 100%;
         // background-color: #7485a0;
         // padding: 100px 0 0;
         // box-shadow: 0 0 40px $blue;
         // position: fixed;
         // top: 0;
      }
      // .menu-wrapper {
      //    @media screen and (max-width: 600px) {

      //    }
      // }
   }

   .close {
      display: none;
      @media screen and (max-width: 600px) {
         display: inline-block;
         position: absolute;
         top: 20px;
         right: 20px;
         // border-radius: 10px;
         // overflow: hidden;
      }
      &::before,
      &::after {
         content: '';
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         height: 6px;
         background-color: $white;
      }
      &::before {
         top: 0;
         border-radius: 10px 10px 0 0;
      }
      &::after {
         bottom: 0;
         border-radius: 0 0 10px 10px;
      }
      .close-link {
         font-size: 20px;
         line-height: 34px;
         color: $white;
         span {
            font-size: 30px;
            display: inline-block;
            vertical-align: middle;
         }
      }
   }

   .list {
      align-items: center;
      @media screen and (max-width: 600px) {
         flex-direction: column;
         align-items: flex-start;
         margin: 0 15px;
      }
      .item {
         display: flex;
         align-items: center;
         margin: 0 10px;
         @media screen and (max-width: 600px) {
            margin: 0 0 20px;
            font-size: 20px;
            width: 100%;
         }

         // &:not(:first-child) {
         //    margin-left: 60px;
         // }

         &::after {
            content: '';
            display: inline-block;
            width: 2px;
            height: 18px;
            background-color: #fff;
            @media screen and (max-width: 600px) {
               display: none;
            }

         }

         &:last-child {
            &::after {
               @media screen and (max-width: 768px) {
                  display: none;
               }
            }
         }

         .link {
            color: $white;
            margin-right: 20px;
            @media screen and (max-width: 600px) {
               // display: block;
               // width: 100%;
               margin: 0;
            }
            span {
               display: inline-block;
            }
         }

      }
   }

   .icon {
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
   }
   .user-icon {
      margin-right: 10px;

      .user-svg{
         fill: $white;
      }
   }
}

.social-menu {
   position: relative;
   z-index: 7;
   order: 1;
   .icon {
      width: 30px;
      height: 30px;
      min-width: 30px;
      min-height: 30px;
      margin-right: 0;
   }

   .list {
      display: flex;
      align-items: center;
      .item {
         margin: 0 8px;
         .link {
            &.active {
               .icon {
                  svg {
                     fill: $white;
                  }
               }
               span {
                  position: absolute;
                  top: -5px;
                  right: -5px;
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  border: 1px solid $white;
                  background-color: $red;
                  text-align: center;
                  &::after {
                     content: '1';
                     display: inline-block;
                     color: $white;
                  }
               }
            }
         }
      }
   }
}

.icon-box {
   position: relative;
}






// main
.main {
   background-color: $main-grey;
   padding-top: 80px;
   @media screen and (max-width: 768px) {
      padding-top: 120px;
   }
   @media screen and (max-width: 480px) {
      padding-top: 100px;
   }
   .main-content {
      overflow: hidden; // otherwise it is scroll after adding grid
      display: flex;
      justify-content: space-between;
      margin: 0 -10px;
      @media screen and (max-width: 1024px) {
         display: grid;  
  grid-template-areas: "header header"  
                       "sidebar content";
//   grid-template-columns: 30% 70%;
      }
   }
}

//left sidebar (menu-sidebar)
.menu-sidebar {
   width: 20%;
   min-width: 192px;
   padding: 0 10px;
   @media screen and (max-width: 1024px) {
      grid-area: sidebar;
      width: 100%;
   }
   @media screen and (max-width: 480px) {
      min-width: 170px;
   }
   @media screen and (max-width: 375px) {
      min-width: 140px;
      padding: 0;
   }

   .user-block {
      padding-left: 12px;
      margin-bottom: 20px;
      .icon {
         width: 44px;
         height: 44px;
         min-width: 44px;
         min-height: 44px;
         margin-right: 8px;
         vertical-align: -15px;
         svg {
            fill: $gray;
         }
      }
      .link {
         @media screen and (max-width: 480px) {
            flex-direction: column;
            align-items: flex-start;
         }
         span {
            @media screen and (max-width: 480px) {
               vertical-align: top;
               margin-top: 5px;
            }
         }
      }
   }

   .icon {
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
      margin-right: 10px;
         svg {
            fill: $blue-light;
         }
         @media screen and (max-width: 480px) {
            width: 18px;
            height: 18px;
            min-width: 18px;
            min-height: 18px;
         }
   }
}



// nav-group
.nav-group {
   padding-bottom: 24px;
   transition: all 0.3s ease-in;
   .sub-title {
      padding-left: 12px;
      padding-bottom: 10px;
      @media screen and (max-width: 480px) {
         font-size: 16px;
      }
   }
   .list {
      flex-direction: column;
      .link {
         position: relative;
         padding: 8px 12px;
         border-radius: 5px;
         @media screen and (max-width: 768px) {
            position: static;
         }
         &::after {
            content: '...';
            position: absolute;
            top: 4px;
            right: 10px;
            font-size: 20px;
            display: none;
         }
         @media screen and (min-width: 769px) {
            &:hover {
               background-color: $white;
               &::after {
                  display: inline-block;
               }
               span {
                  font-weight: 700;
               }
            }
         }
         @media screen and (max-width: 480px) {
            font-size: 12px;
         }
      }
   }
}

//see more
.see-more {
   position: relative;
   display: inline-block;
   padding-left: 46px;
   margin-bottom: 15px;
   color: $blue-light;
   @media screen and (max-width: 480px) {
      font-size: 14px;
   }
   &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 1px;
      left: 23px;
      border-left: 7px solid $gray;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      transition: all 0.3s ease-in;
   }
   &.active {
      &::before {
         transform: rotate(90deg);
      }
   }
}

.hide-block {
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease-in;
}

//central-part
.central-part {
   width: 48%;
   min-width: 500px;
   padding: 0 10px;
   @media screen and (max-width: 1024px) {
      grid-area: content;
      width: 100%;
   }
   @media screen and (max-width: 768px) {
      min-width: auto;
   }
}
.create-block {
   border: 1px solid rgb(221, 221, 221);
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   margin-bottom: 20px;
}

.create-title {
   padding: 10px 15px;
   border-bottom: 1px solid rgb(221, 221, 221);
   @media screen and (max-width: 375px) {
      padding: 10px;
      font-size: 16px;
   }
}

.create-share {
   display: flex;
   @media screen and (max-width: 768px) {
      flex-wrap: wrap;
   }
   @media screen and (max-width: 480px) {
      display: block;
   }
}

.create-text {
   padding: 15px;
   background-color: $white;
   @media screen and (max-width: 375px) {
      padding: 15px 10px;
   }
   .create-content {
      padding-bottom: 15px;
      border-bottom: 1px solid rgb(221, 221, 221);
      span {
         color: #333;
         @media screen and (max-width: 480px) {
            font-size: 14px;
         }
      }
   }
   .create-share {
      padding: 15px 0 0;
      .create-attach {
         padding: 8px 15px;
         margin-right: 8px;
         background-color: rgb(222, 222, 222);
         border-radius: 20px;
         border: 1px solid rgb(222, 222, 222);
         overflow: hidden;
         transition: all 0.2s ease-in;
         @media screen and (max-width: 768px) {
            margin-bottom: 5px;
         }
         @media screen and (max-width: 480px) {
            display: inline-block;
         }
         &:hover {
            background-color: transparent;
         }
         span {
            position: relative;
            font-size: 13px;
            color: #333;
            @media screen and (max-width: 480px) {
               vertical-align: 2px;
            }
         }
      }
      .icon {
         width: 16px;
         height: 16px;
         min-width: 16px;
         min-height: 16px;
         margin-right: 8px;
         svg {
            fill: #4faaff;
         }
      }
   }
}

.icon {
      width: 60px;
      height: 60px;
      min-width: 60px;
      min-height: 60px;
      margin-right: 20px;
      @media screen and (max-width: 768px) {
         width: 50px;
         height: 50px;
         min-width: 50px;
         min-height: 50px;
      }
      @media screen and (max-width: 480px) {
         width: 40px;
         height: 40px;
         min-width: 40px;
         min-height: 40px;
         margin-right: 10px;
      }
      .user-svg {
         fill: #999;
      }
   }

.block-ico-text {
   display: flex;
   align-items: center;
}

.post {
   @extend .create-block;
   background-color: $white;
   overflow: visible;
}
.post-wrapper {
   padding: 15px;
   @media screen and (max-width: 375px) {
      padding: 15px 10px;
   }
   .block-ico-text {
      padding-bottom: 20px;
      .more-info {
         position: relative;
         align-self: flex-start;
         margin-top: 10px;
         margin-left: auto;
         .more-btn {
            display: flex;
            &:hover {
               cursor: pointer;
            }
            &.active {
               & + .share-list {
                  visibility: visible;
                  opacity: 1;
               }
            }
            .more-component {
               display: inline-block;
               width: 3px;
               height: 3px;
               margin: 1px 2px;
               border-radius: 50%;
               background-color: $gray;
            }
         }
         .share-list {
            position: absolute;
            top: 5px;
            left: 0;
            margin-top: 10px;
            min-width: 200px;
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 5px 7px rgba( 0, 0, 0, 0.2);
            transition: all 0.2s ease-in;
            @media screen and (max-width: 1024px) {
               left: -165px;
            }
            @media screen and (max-width: 640px) {
               min-width: 155px;
               left: -120px;
            }
            @media screen and (max-width: 375px) {
               left: -125px;
            }
               .share-item {
                  a {
                     position: relative;
                     display: block;
                     padding: 5px 15px;
                     font-size: 14px;
                     line-height: 1.5;
                     color: #333;
                     transition: all 0.2s ease-in;
                     @media screen and (max-width: 640px) {
                        padding-right: 10px;
                        padding-left: 10px;
                        font-size: 12px;
                     }
                     &:hover {
                        background-color: #eee;
                     }
                  }
               }
            &::after {
               content: '';
               width: 8px;
               height: 8px;
               position: absolute;
               top: -5px;
               left: 7px;
               background-color: #fff;
               border-left: 1px solid #ccc;
               border-top: 1px solid #ccc;
               transform: rotate(45deg);
               @media screen and (max-width: 1024px) {
                  left: 170px;
               }
               @media screen and (max-width: 640px) {
                  left: 125px;
               }
               @media screen and (max-width: 360px) {
                  left: 130px;
               }
            }
         }
      }
   }
   .post-text {
      font-size: 14px;
      line-height: 20px;
      color: #333;
      padding-bottom: 20px;
      @media screen and (max-width: 480px) {
         font-size: 13px;
      }
      &:last-child {
         padding-bottom: 10px;
      }
      a {
         color: #4faaff;
      }
   }
   .create-share {
      justify-content: space-around;
      // padding: 15px 0 0;
      .create-attach {
         display: flex;
         align-items: center;
         padding: 15px 0 0;
         @media screen and (max-width: 480px) {
            font-size: 14px;
         }
         &:last-child {
            position: relative;
            &:hover {
               .share-list {
                  visibility: visible;
                  opacity: 1;
               }
            }
            .share-list {
               visibility: hidden;
               opacity: 0;
               position: absolute;
               top: -185px;
               left: -20px;
               background-color: #fff;
               border: 1px solid #ccc;
               min-width: 230px;
               box-shadow: 0 5px 7px rgba( 0, 0, 0, 0.2);
               transition: all 0.2s ease-in;
               @media screen and (max-width: 1024px) {
                  left: -53px;
               }
               @media screen and (max-width: 930px) {
                  left: -69px;
               }
               @media screen and (max-width: 768px) {
                  left: -96px;
               }
               @media screen and (max-width: 640px) {
                  min-width: 185px;
                  top: -165px;
                  left: -73px;
               }
               @media screen and (max-width: 480px) {
                  left: -13px;
               }
               @media screen and (max-width: 375px) {
                  left: -9px;
               }
               .share-item {
                  a {
                     position: relative;
                     display: block;
                     padding: 5px 15px;
                     font-size: 14px;
                     line-height: 1.5;
                     color: #333;
                     transition: all 0.2s ease-in;
                     @media screen and (max-width: 640px) {
                        padding-right: 10px;
                        padding-left: 10px;
                        font-size: 12px;
                     }
                     &:hover {
                        background-color: #eee;
                     }
                  }
               }
               &::before {
                  content : '';
                  display: inline-block;
                  position: absolute;
                  bottom: -5px;
                  left: 25px;
                  width: 10px;
                  height: 10px;
                  border-right: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                  background-color: #fff;
                  transform: rotate(45deg);
                  @media screen and (max-width: 1024px) {
                     left: 59px;
                  }
                  @media screen and (max-width: 930px) {
                     left: 75px;
                  }
                  @media screen and (max-width: 768px) {
                     left: 103px;
                  }
                  @media screen and (max-width: 640px) {
                     left: 79px;
                  }
                  @media screen and (max-width: 480px) {
                     left: 19px;
                  }
                  @media screen and (max-width: 375px) {
                     left: 15px;
                  }
               }
            }
         }

         &:hover {
            cursor: pointer;
            .icon {
               opacity: 0.8;
            }
         }
         .icon {
            width: 25px;
            height: 25px;
            min-width: 25px;
            min-height: 25px;
            margin-right: 8px;
            fill: #333;
            transition: all 0.2s ease-in;
         }
         span {
            color: #333;
         }
      }
   }
}

.post-photo {
   border-bottom: 1px solid rgb(221, 221, 221);
   .post-img {
      border: 2px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 15px;
   }
   .post-like-block {
      margin-bottom: 15px;
      .like-icon {
         width: 15px;
         height: 15px;
         min-width: 15px;
         min-height: 15px;
         margin-right: 3px;
         &.active {
            fill: #4594df;
         }
      }
      .like-counter {
         font-size: 16px;
         vertical-align: top;
         color: #333;
      }
   }
}

.post-credentials {
   .author-name {
      font-size: 18px;
      font-weight: 700;
      color: $blue-light;
      padding-bottom: 5px;
      @media screen and (max-width: 768px) {
         font-size: 16px;
      }
      @media screen and (max-width: 375px) {
         font-size: 14px;
      }
   }
}

.time-info {
   display: flex;
   align-items: center;
   .time-left {
      display: inline-block;
      font-size: 13px;
      color: #999;
      margin-right: 10px;
      @media screen and (max-width: 1024px) {
         margin-right: 5px;
      }
      &::after {
         content: '';
         display: inline-block;
         width: 4px;
         height: 4px;
         border-radius: 50%;
         vertical-align: middle;
         margin-left: 10px;
         background-color: #999;
         @media screen and (max-width: 1024px) {
            margin-left: 5px;
         }
      }
   }
   .icon {
      width: 15px;
      height: 15px;
      min-width: 15px;
      min-height: 15px;
      margin-right: 0;
      svg {
         fill: #999;
      }
   }
}


//sidebar
.info-sidebar {
   width: 32%;
   padding: 0 10px;
   @media screen and (max-width: 1024px) {
      grid-area: header;
      display: flex;
      justify-content: space-between;
      width: 100%;
   }
   @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      position: relative;
   }
   .stories {
      padding: 20px;
      background-color: $white;
      @extend .create-block;
      @media screen and (max-width: 1024px) {
         width: 35%;
      }
      @media screen and (max-width: 768px) {
         display: none;
         padding: 20px 10px;
      }
      @media screen and (max-width: 640px) {
         order: 1;
         width: 50%;
         padding: 10px;
      }
      @media screen and (max-width: 480px) {
         width: 100%;
         margin-bottom: 5px;
      }
      
      &:nth-child(3) {
         @media screen and (max-width: 1024px) {
            align-self: flex-start;
            width: 28%;
         }
         @media screen and (max-width: 640px) {
            order: 0;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 5px;
         }
      }
      &.visible-block {
         overflow: visible;
         .stories-header {
            padding-bottom: 10px;
            margin-bottom: 0;
            border-bottom: 1px solid $light-grey;
         }
      }
   }
   .stories-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
         flex-wrap: wrap;
         align-items: flex-start;
      }
      @media screen and (max-width: 480px) {
         margin-bottom: 5px;
      }
      h4 {
         @media screen and (max-width: 768px) {
            margin-bottom: 5px;
         }
      }
      .clock-icon {
         margin-right: 5px;
         svg {
            fill: $blue-dark;
         }
      }
      .time-left, a {
         font-size: 14px;
         color: $blue-light;
      }
      .options-link {
         &:hover +
         .options-block {
            visibility: visible;
            opacity: 1;
         }
      }
      .options-block {
         position: absolute;
         top: -44px;
         right: -20px;
         background-color: $black;
         padding: 8px 5px;
         border-radius: 5px;
         visibility: hidden;
         opacity: 0;
         transition: all 0.2s ease-in;
         @media screen and (max-width: 1024px) {
            top: -18px;
            right: -15px;
            padding: 1px 4px;
         }
         &::after {
            content: '';
            display: inline-block;
            position: absolute;
            bottom: -4px;
            left: 50%;
            width: 8px;
            height: 8px;
            transform: translateX(-50%) rotate(45deg);
            background-color: $black;
            @media screen and (max-width: 1024px) {
               width: 5px;
               height: 5px;
               bottom: -2px;
            }
         }
         p {
            color: $white;
            font-size: 13px;
            @media screen and (max-width: 1024px) {
               font-size: 11px;
            }
         }
      }
   }
   .post-stories {
      .time-left {
         color: $gray;
         margin-right: 0;
         &::after {
            display: none;
         }
      }
      .block-ico-text {
         margin-bottom: 15px;
         @media screen and (max-width: 640px) {
            margin-bottom: 10px;
         }
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   .birthday-block {
      display: flex;
      align-items: center;
      .icon {
         display: inline-block;
         width: 25px;
         height: 25px;
         min-width: 25px;
         min-height: 25px;
         margin-right: 10px;
         svg {
            fill: $blue-light;
         }
      }
      a {
         color: $blue-light;
      }
      span {
         display: inline-block;
      }
   }
   .stories-content {
      padding-top: 15px;
      .block-ico-text {
         align-items: flex-start;
         .values {
            display: inline-block;
            padding: 1px 3px;
            background-color: $main-grey;
            margin-left: 5px;
            font-size: 11px;
            color: $gray;
            border: 1px solid $light-grey;
         }
      }
      .time-info {
         margin-bottom: 7px;
         .icon{
         margin-right: 5px;
         }
         svg {
            fill: $hard-grey;
         }
      }
      .time-left {
         margin-right: 0;
         &::after {
            display: none;
         }
      }
      .buttons-block {
         padding-top: 20px;
         padding-bottom: 20px;
         border-top: 1px solid $light-grey;
         margin-top: 20px;
         @media screen and (max-width: 640px) {
            padding-top: 15px;
            padding-bottom: 15px;
            margin-top: 15px;
         }
         .button-info {
            width: 33.3333%;
            display: inline-block;
            padding: 12px 10px;
            border: 2px solid $light-grey;
            text-align: center;
            color: $hard-grey;
            @media screen and (max-width: 640px) {
               font-size: 14px;
            }
            &.active {
               background-color: $main-grey;
               border: 2px solid $blue-light;
               color: $blue-light;
            }
         }
      }
      .sum-values {
         text-align: center;
         font-size: 14px;
         color: $hard-grey;
         .all-values {
            padding-bottom: 10px;
            font-size: 26px;
            font-weight: 700;
            @media screen and (max-width: 640px) {
               padding-bottom: 5px;
            }
         }

      }
   }
   .mobile-info {
      display: none;
      padding: 5px 10px;
      margin: 5px 0;
      border: 1px solid $gray;
      border-radius: 5px;
      background-color: $light-grey;
      overflow: hidden;
      @media screen and (max-width: 768px) {
         display: block;
         width: 100%;
         position: relative;
      }
      span {
         content: '';
         position: absolute;
         top: 50%;
         right: 10px;
         transform: translateY(-50%);
         width: 10px;
         height: 10px;
         &::after,
         &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: rgb(0, 0, 0);
            transition: all 0.8s ease-in;
         }
         &::after {
            transform: translateX(4px) rotate(45deg);
         }
         &::before {
            transform: translateX(4px) rotate(-45deg);
         }
      }
      &.active {
         span {
            &::after {
               transform: translateX(4px) rotate(135deg);
            }
            &::before {
               transform: translateX(4px) rotate(-135deg);
            }
         }
      }
   }
}