$base-font-family-sans-serif:'Muli', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

//link's color
$white:#fff;
$light-grey:#e0e0e0;
$main-grey: #eee;
$gray: #999;
$hard-grey: #333; 
$orange:#ffae00;
$red: #f00;
$blue-light: #4faaff;
$blue: #0a4ff1;
$blue-dark: #07339b;
$black: #000;

//headings
$h1-font-size:60px;
$h2-font-size:35px;
$h3-font-size:20px;

//text
$p-font-size:16px;